.hero-banner-dark {
  background-color: var(--color-primary);
  color: #fff;
}

.dark-text {
  color: #fff;
  background-color: var(--color-primary-light);
}

.hero-text-dark {
  color: #fff;
}

.hero-banner-light {
  background-color: #fff;
  color: var(--color-primary);
}

.hero-text-light {
  color: var(--color-primary);
}

.text-box {
  background-color: var(--color-primary-light);
}

@media only screen and (min-width: 60em) {
    .banner-image {
      position: relative;
    }

    .text-box {
      position: absolute;
      background-color: rgba(182, 199, 221, 0.9);
    }
}
