.current-bottom {
  color: #fff;
}

h1 {
  position: relative;
}

.nav-top a {
  color: var(--color-primary-light);
}

.nav-top a:hover {
  color: var(--color-accent-dark)
}

.current-top {
  color: var(--color-primary);
}

.nav-bottom {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--color-primary);
}

.nav-bottom a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}

.nav-bottom a:hover {
  color: #fff;
  background-color: var(--color-accent-dark);
}

.nav-btn {
  display: block;
  width: 50px;
  position: absolute;
}

.nav-btn img {
  display: block;
  width: 100%;
}
