:root {
  --color-primary: #021d49;
  --color-primary-light: #b6c7dd;
  --color-secondary: #bfbfbf;
  --color-accent-dark: #ad92cc;
  --color-accent-light: #e1d6ea;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Oswald", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h4, h5, blockquote, cite, strong, del, ins, b, u, s {
  color: var(--color-primary);
}

h3, h6, a, em, ins, dfn, i {
  color: var(--color-primary-light);
}

ul, li, ol, dl, dt, dd {
  color: var(--color-accent);
}

mark {
  background-color: var(--color-accent-light);
}

.dark-background {
  background-color: var(--color-primary);
}

a:focus,
button:focus {
  outline: 3px solid var(--color-accent-light);
}
