.section-dark {
  background-color: var(--color-primary);
  color: #fff;
}

.dark {
  padding-top: 4em;
  color: #fff;
}

.light {
  padding-top: 4em;
  color: var(--color-primary);
}

.light-no-button {
  padding-top: 1.5em;
  color: var(--color-primary);
}

.dark-no-button {
  padding-top: 1.5em;
  color: #fff;
}

#mars:hover {
  fill: #ff7d50;
  transform: scale(1.5);
}

#mars {
  transition: all .25s linear;
  transform-origin: 550px 605px;
}

#jupiter:hover {
  fill: #f9ad26;
  transform: scale(1.5);
}

#jupiter {
  transition: all .25s linear;
  transform-origin: 607px 271px;
}

#saturn:hover {
  fill: #fcdf65;
  transform: scale(1.5);
}

#saturn {
  transition: all .25s linear;
  transform-origin: 1011px 348px;
}

svg a {
  cursor: pointer;
}
