.section-dark {
  background-color: var(--color-primary);
  color: #fff;
}

.dark {
  padding-top: 4em;
  color: #fff;
}

.light {
  padding-top: 4em;
  color: var(--color-primary);
}

.light-no-button {
  padding-top: 1.5em;
  color: var(--color-primary);
}

.dark-no-button {
  padding-top: 1.5em;
  color: #fff;
}
